<html>
<body>

<div>
    <div class="info">
        <p>Please refer to this instructions to compile your excel file:</p>
        <ul>
            <li>
                <a href="https://synology.mirri.org:5019/d/f/585510897426937562" target="_blank" >HowToCompileTheSheets_v20200601.pdf</a>
            </li>
            <li>
                <a href="https://synology.mirri.org:5019/d/f/585510897965905633" target="_blank">RecommendationsToCollections_v20200601.pdf</a>
            </li>
        </ul>
        <p>You can also contact the MIRRI ICT by email using <a href="mailto:ict-support@mirri.org">ICT Support</a></p>
        <br />
    </div>


        {% if valid %}
            <h3> Congratulations, Your file {{fname}} <span class="strong">complies</span> the mirri specs </h3>
        {% else %}

            <h3>The Excel File {{fname}} has errors</h3>
            <br />
            <button onclick="javascript:window.history.back();">Try again</button>
            <br />
            <h4>Check the error and fix them before submitting them again:</h4>


            <table  border=1>
                <tr>
                    <td>Acceession Number</td>
                    <td>Message</td>
                    <td>Error Code</td>
                </tr>
                {% for error in errors%}
                    <tr>
                        <td>{{error.data}}</td>
                        <td>{{error.message}}</td>
                        <td>{{error.code}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% if more_errors != 0%}
                <h4>You have more errors that we have hidden</h4>
            {% endif %}
        {% endif %}
</div>

</body>
</html>
