{% extends "base.html" %}
{% block title %} MIRRI Validation tool {% endblock title %}
{% block navigator%} MIRRI Validation tool{% endblock navigator%}
{% block page_title %} MIRRI v20200601 specifications validator {% endblock page_title %}
{% block content %}
<div>
    <div class="info">
        <p>Please refer to this instructions to compile your excel file:</p>
        <ul>
            <li>
                <a href="https://synology.mirri.org:5019/d/f/585510897426937562" target="_blank" >HowToCompileTheSheets_v20200601.pdf</a>
            </li>
            <li>
                <a href="https://synology.mirri.org:5019/d/f/585510897965905633" target="_blank">RecommendationsToCollections_v20200601.pdf</a>
            </li>
        </ul>
        <p>You can also contact the MIRRI ICT by email using <a href="mailto:ict-support@mirri.org">ICT Support</a></p>
        <br />
    </div>

    {% if not validation_done %}
    <div>
        <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <ul>
            <li>{{ form.file.errors }}<label for="name"></label>{{ form.file }}</li>
            <li>
              {{ form.file.errors }}{{ form.do_upload }}
                <label for="name">Check it if you want to upload file if it fits the especifications</label>
            </li>
        </ul>
        <input type="submit" value="Validate" />
        </form>
    </div>
    {% endif%}
    {% if validation_done %}
        {% if valid %}
            <h3> Congratulations, Your file {{fname}} <span class="strong">complies</span> the mirri specs </h3>
        {% else %}
            <h3>The Excel File {{fname}} has errors</h3>
            <br />
            <button onclick="javascript:window.history.back();">Try again</button>
            <br />
            <p>You can download the report <a href='{{error_pdf_url}}' target='_blank'>Here</a></p>
            <h4>Check the error and fix them before submitting them again:</h4>


            <table id='error_table'>
                <tr>
                    <td>Row ID</td>
                    <td>Message</td>
                    <td>Error Code</td>
                </tr>
                {% for error in errors%}
                    <tr>
                        <td style='width:6em'>{% if error.pk is not None %} {{error.pk}} {% endif%} </td>
                        <td>{{error.message}}</td>
                        <td style='width:6em'>{{error.code}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% if more_errors != 0%}
                <h4>You have more errors. They have been hidden.</h4>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
{% endblock content %}
