{% extends "base.html" %}
{% block title %} Mirri Validation tool {% endblock title %}
{% block content %}
{% if not search_done%}
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
    <ul>
		<li>
	        {{ form.file.errors }}<label for="name">File:</label>{{ form.file }}
	  	</li>
   </ul>
   <input type="submit" value="Submit" />
</form>
{% endif%}

{% if search_done %}
    {% if valid %}
        <h3> Congratulations, Your file complies the mirri specs</h3>
    {% else %}
        <h3> Your files has some error. Fix them and try it again</h3>
        <ul>
        {% for error in errors%}
            <li>{{error.data}}: {{error.message}} ({{error.code}})</li>
        {%  endfor %}
        </ul>
    {% endif %}
{% endif %}


{% endblock content %}